<app-page-selector (pageNRoutput)="pageNrEventCatch($event)"></app-page-selector>
<div class="pageSearch">
 <input [(ngModel)]="this.searchString" (ngModelChange) = "productSearch($event)" placeholder=search/> 
</div>
<ul class="prodList">
<!--      <li *ngFor="let Product of products | slice:pageNR*10-10:pageNR*10" -->
	  <li *ngFor="let Product of products | slice:pageNRp*10-10:pageNRp*10"
	  [class.selected]="Product === selectedProduct"
	  (click)="onClickedProduct(Product)">
			<span class="sProd">{{Product.title}}</span>
		
			<div *ngIf="selectedProduct === Product">
				<div class="sProdDetails">
				<span>brand: </span>{{selectedProduct.brand}}
				<span>supplier: </span>{{selectedProduct.suppliername}}
				<span>date: </span>{{selectedProduct.created}}
				<br>
				<span>price: </span>{{selectedProduct.price}}
				<span>costprice: </span>{{selectedProduct.costprice}}
				<span>id: </span>{{selectedProduct.id}}
				<span>nr: </span>{{selectedProduct.productno}}
				</div>
			</div>
	  </li>
</ul>